planetas
*.txt
plot/plot/*
plot/animacion.mp4
plot/animacion_frames
plot/__pycache__
plot/media/*
plot_py_pruebas/images/
plot/images
hola
gmon.out
gravity.s
plot/grafico_valores.png
plot/desmos.png
plot/desmos2.png
